// Add this to static/src/snippets/s_website_flight_fleet_carousel/000.scss

.s_website_flight_fleet_carousel {
  height: 100vh;
  .carousel {
    height: 100%;

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100vh !important; // Full viewport height
      }
    }
  }
}

.website-flight-carousel-indicators {
  margin-bottom: 3rem !important;
  li {
    width: 8px !important;
    height: 8px !important;
    border-radius: 100% !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    margin: 3px 3px !important;
    transition: all 0.5s ease !important;

    &.active {
      background-color: #fff !important;
    }
  }
}
