<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!-- Pilot Time Menu -->
    <menuitem
    id="menu_flight_pilot_log"
    name="Pilot Log"
    parent="flight.menu_flight_root"
    sequence="50"
  />

    <!-- Pilot Times Menu -->
    <menuitem
    id="menu_flight_pilot_time"
    name="Pilot Times"
    parent="menu_flight_pilot_log"
    action="action_flight_pilot_time_list"
    sequence="10"
  />

    <!-- Pilot Events Menu -->
    <menuitem
    id="menu_flight_pilot_event"
    name="Pilot Events"
    parent="menu_flight_pilot_log"
    action="action_flight_pilot_event_list"
    sequence="20"
  />

    <!-- Pilot Remarks Menu -->
    <menuitem
    id="menu_flight_pilot_remark"
    name="Pilot Remarks"
    parent="menu_flight_pilot_log"
    action="action_flight_pilot_remark_list"
    sequence="25"
  />

    <!-- Time Analysis Menu -->
    <menuitem
    id="menu_flight_pilot_time_analysis"
    name="Time Analysis"
    parent="menu_flight_pilot_log"
    action="action_flight_pilot_time_by_pilot"
    sequence="30"
  />

    <!-- Event Analysis Menu -->
    <menuitem
    id="menu_flight_pilot_event_analysis"
    name="Event Analysis"
    parent="menu_flight_pilot_log"
    action="action_flight_pilot_event_by_pilot"
    sequence="40"
  />

    <!-- Configuration Menu -->
    <menuitem
    id="menu_flight_pilot_log_configuration"
    name="Pilot Log Configuration"
    parent="flight.menu_flight_configuration"
    sequence="60"
  />

    <!-- Time Codes Menu -->
    <menuitem
    id="menu_flight_pilot_time_code"
    name="Time Codes"
    parent="menu_flight_pilot_log_configuration"
    action="action_flight_pilot_time_code_list"
    sequence="10"
  />

    <!-- Event Codes Menu -->
    <menuitem
    id="menu_flight_pilot_event_code"
    name="Event Codes"
    parent="menu_flight_pilot_log_configuration"
    action="action_flight_pilot_event_code_list"
    sequence="20"
  />
    <!-- Menu Item (using the server action to load logs) -->
    <menuitem
    id="menu_flight_pilot_log_overview"
    name="Overview"
    parent="menu_flight_pilot_log"
    action="action_load_pilot_logs"
    sequence="5"
  />
</odoo>
