<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_flight_sync_configuration"
              name="Sync"
              parent="flight.menu_flight_configuration"
              sequence="100"/>
    <menuitem id="menu_flight_data_provider" name="Providers" parent="menu_flight_sync_configuration" action="action_flight_data_provider" sequence="10"/>
</odoo>
